@import url(./__description/cards__description.css);
@import url(./__item/cards__item.css);
@import url(./__title/cards__title.css);
@import url(./__image/cards__image.css);

.cards {
  width:920px;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  list-style:none;
  padding:0;
}
