@import url(./__link/header__link.css);
@import url(./__logo/_place/header__logo_place_header.css);
@import url(./__main-illustration/header__main-illustration.css);
@import url(./__square-pic/header__square-pic.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__title/header__title.css);

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background:#f2f2f2;
  position:relative;
  overflow:hidden;

  display:flex;
  align-items: center;
}
