@import url(./_theme/section-subtitle_theme_dark.css);
@import url(./_theme/section-subtitle_theme_light.css);
.section-subtitle {
  line-height: 34px;
  font-size:24px;
  font-weight:normal;
  width:60%;
  margin:auto;
  text-align:center;
}
